
body {
    background-color: rgb(75, 125, 218);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.233);
}

div#nascimento {
    margin: 10px 0px;
}

div#sexo {
    margin-bottom: 10px;
}

#res {
    text-align: center;
}

#res p {
    display: block;
}

img#foto {
    width: 250px;
    border-radius: 50%;

}

footer {
    text-align: center;
    color: white;
    font-style: italic;

}