
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1{
    color: yellow;
}